<div class="row">
  <div class="col-md-10">
    <form class="form-inline">
      <div class="form-group">
        <label>Name: </label>
        <input type="text" #name  placeholder="Name...">
      </div>
      <div class="form-group">
        <label>Score: </label>
        <input type="text" #score placeholder="Score...">
      </div>
      <div class="form-group">
        <label>Skills: </label>
        <input type="text" #skills placeholder="Set of skills...">
      </div>
      <button type="submit"  class="btn btn-success" (click)="onAdd(name.value, score.value, skills.value)">Add</button>
    </form>
  </div>
</div>
